<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"       
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean name = "student" class="com.springcore.springcore.Student" p:stdId="10" p:stdName="Rahul" p:address="Mumbai"    />
 <!-- <property name="stdId" value="10"/>
 <property name="stdName"  value ="Sarvesh Tiwari"></property>
 <property name="address" value = "Delhi"></property>  using p-schema we can declare all information
 in a single line for using it we first have to declare it it is used as p:propertyName
 </bean>-->
 
  <bean name = "student1" class="com.springcore.springcore.Student">
 <property name="stdId" value="11"/>
 <property name="stdName"  value ="Sahishnu Tiwari"></property>
 <property name="address" value = "Mau"></property>
 <!-- if fields are set using property tag then it is setter injection -->
 </bean>
 
 </beans>